<p>Add New Merchants</p>

<a href="/merchants">return to index</a>
<form action="/merchants" method="post">
<label for="merchant-name">Add New Merchant </label>
<input type="text" name="name" id="merchants-name"/>
<input type="submit" value="Add Merchant">
<!-- create form then submit -->
</form>
