<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tags Page</title>
  </head>
  <body>
    <nav>
      <nav>
      <ul>
        <li>
          <a href="/merchants">Merchant</a>
        </li>
        <li>
          <a href="/tags">Tags</a>
        </li>
        <li>
          <a href="/transactions">Transactions</a>
        </li>
        <li> <a href="/">Main Page</a>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>
