<p>Add new tag added</p>

<a href="/tags">return to index</a>
<form action="/tags" method="post">
<label for="tag-name">Add New Tag </label>
<input type="text" name="name" id="tag-name"/>
<input type="submit" value="Add Tag">
<!-- create form then submit -->
</form>
