<h2>Transactions</h2>


  <a href="/transactions/new">Add Transaction</a>


  <% @transactions.each do |transaction| %>
  <p><%= transactions.name %></p>

  <form action="/transactions/<%= transaction.id %>/delete" method="POST"><input type="submit" value="Delete"></form>>
  <a href="/transactions/<%= transactions.id %>/edit">Edit</a>

  <% end %>
